*{
    margin: 0px;
    padding: 0px;
}

h1{
    color: bisque;
    background-color: #858282;
    text-align: center;
    padding: 1%;
}

.content{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.sidebar{
    position:sticky;
    background-color: #212121;
    width: 30vw;
    padding: 10px;
}
a{
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    font-size: 1.5vw;
    background-color: #616161;
    display: block;
}

.imageSection{
    padding: 3%;
    background-color: #ac7373;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: scroll;
}

.image{
    max-height:40%;
    width:40%;
    border: 2px solid black;
    background-size: cover;
    background-position: center;
}

.image:hover{
    transform: scale(1.05);
    box-shadow: 3px solid grey;
}

.image1{
    background-image: url("./Images/background_changer.png");
}

.image2{
    background-image: url("./Images/bmi_calculator.png");
}

.image3{
    background-image: url("./Images/digital_clock.png");
}

.image4{
    background-image: url("./Images/guess_number_game.png");
}

.image5{
    background-image: url("./Images/calculator.png");
}

.image6{
    background-image: url("./Images/weather.png");
}